<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <h1 class="m-0">
      {{- if $.IsNode }}
        <span class="navbar-brand">{{ site.Title }}</span>
      {{- else }}
        <a class="navbar-brand" href="{{ urls.RelLangURL "" }}">{{ site.Title }}</a>
      {{ end }}
    </h1>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-body">
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <a class="nav-link" href="https://shop.curioo.city" target="_blank" rel="noopener">Shop</a>
          {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
          {{ partial "language_menu.html" . }}
        </div>
      </div>
    </div>
  </div>
</nav>
